*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-color: rgba(37,94,233,255);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 20px;
    background-color: rgba(37,94,233,255);
    /* border: 2px dotted black; */
    text-align: center;
    justify-content: center;
    flex-basis: 70%;
    color: aliceblue;
}

.link{
    display: flex;
    justify-content: space-around;
    background-color: rgba(37,94,233,255);
    margin-top: 10px;
    flex-basis: 70%;
    text-align: center;
    

 }

 .logo{
    background-color: rgba(37,94,233,255);
    padding-left: 10px;
    padding-top: 5px;
    /* border: 2px dotted black; */
    flex-basis: 20%;
    text-align: start;
}

.login{
    background-color:rgba(37,94,233,255);
    text-align: end;
    padding-right: 10px;
    flex-basis: 20%;
    /* border: 2px dotted black; */
    height: 48px;
    padding-top: 0px;
    
}

#login-button{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    border-style: none;
    border-color: white;
    cursor: pointer;
    
    
}
/* INIZIO PARTE MAIN CON JUMBO */
.container-jumbo{
    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: center;
    /* background-color: red; */
    
    
    
}

.background-image{
    background-image: url(../img/jumbo.png);
    background-size: cover; /* Riempi l'intero contenitore mantenendo le proporzioni */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
}

.jumbotron{
    flex-basis: 60%;
    /* background-color: deeppink; */
    margin: 50px;
    border: 3px none black;
    text-align: center;
    color: aliceblue;
    margin-top: 60px;
    
}

/* PARTE SCRITTA JUMBOTRON */
#titolo-jumbo{
    font-size: 60px;
    
}

.paragrafo-jumbo{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    width: 65%;
    margin-left: 15%;
}



.scarica-mac{
    text-align: center;
    display: inline-block;
}
#scarica-mac1{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    border-style: none;
    border-color: white;
    cursor: pointer;
}

.apri-discord{
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    display: inline-block;
}

#apri-discord1{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    border-style: none;
    border-color: white;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}



/* INIZIO PARTE 2 MAIN AZURE E PINK */

.container-due{
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: center;
    gap: 3%;
}

.azure{
    /* background-color: deepskyblue; */
    height: 450px;
    flex-basis: 40%;
    margin-top: 50px;
    /* border: 3px dotted black; */
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    
    
}

.pink{
    /* background-color: violet; */
    height: 450px;
    flex-basis: 30%;
    margin-top: 50px;
     /* border: 3px dotted black; */
}

.un-luogo{
    font-size: 40px;
    width: 52%;
    text-align: start;
    margin-top: 40px;
}

.server-discord{
    font-size: 20px;
    margin-top: 20px;
    width: 60%;
}





/* INIZIO PARTE 3 MAIN AZURE-inverse E PINK-inverse */

.container-tre{
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    justify-content: center;
    background-color:whitesmoke;
    gap: 5%;
}



.azure-inverse{
    /* background-color: deepskyblue; */
    height: 450px;
    flex-basis: 40%;
    margin-top: 50px;
    /* border: 3px dotted black; */
    background-image: url(../img/item2.svg);
    background-repeat: no-repeat;
    
}

.pink-inverse{
    /* background-color: violet; */
    height: 450px;
    flex-basis: 30%;
    margin-top: 50px;
    /* border: 3px dotted black; */
    
}

.h1-p1-container3{
    display: flex;
    flex-direction: column;
    gap: 25px;

}
#h1-container3{
    width: 55%;
    font-size: 40px;
}


#p-container3{
    width: 60%;
    font-size: 20px;
}







/* PARTE MAIN CON CONTAINER 4 */
.container-four{
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: center;
    gap: 5%;
    margin-top: 100px;
}

.azure-four{
    /* background-color: deepskyblue; */
    height: 450px;
    flex-basis: 40%;
    margin-top: 50px;
    /* border: 3px dotted black; */
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat; 
    
    
}

.pink-four{
    /* background-color: violet; */
    height: 450px;
    flex-basis: 30%;
    margin-top: 50px;
     /* border: 3px dotted black; */
    
}


.h1-p1-container4{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


#h1-container4{
    width: 55%;
    font-size: 40px;
}

#p1-container4{
    width: 60%;
    font-size: 20px;
}






/*  MAIN Green */

.container-cinque{
    display: flex;
    flex-direction: row;
    /* height: 700px; */
    background-color: whitesmoke;
    justify-content: center;

}

.green{
    /* background-color: green; */
    flex-basis: 70%;
    margin-top: 30px;
    margin-bottom: 100px;
    /* border: 3px dotted black; */
   
    
}

.img-big-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.img-big{
    margin-top: 5%;
}


.h1-p1-container5{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}


#h1-container5{
    font-size: 40px;
}

#p1-container5{
    /* width: 60%; */
    font-size: 20px;
    padding: 0 20%;
}

.container-star-scarica{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.h2{
    position: absolute;
    margin-top: 40px;
    font-size: 25px;
}

.container-buttom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.scarica-mac2{
    display: flex;
    
}
#scarica-mac2{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    border-style: none;
    border-color:white;
    cursor: pointer;
    background-color: #8ca4e2;
    color: whitesmoke;
}







/* INIZIO PARTE Footer */

.container-footer{
    display: flex;
    flex-direction: row;
    height: 500px;
    background-color: rgba(35,39,42,255);
    justify-content: center;
    
    
}

.salmon-container{
    /* background-color: salmon; */
    display: flex;
    flex-basis: 18%;
    /* border: 3px dotted black; */
    margin-top: 10px;
    flex-direction: column;
}



#h1-salmon{
    color: #6d8cd5;
    text-align: start;
    margin-top: 20%;

}

.italy{
    margin-top: 20px;
    margin-right: 100%;
    height: 0;
}

#italia{
    margin-left: 35px;
    color: white;
}

.img-italy{
    width: 30px;
    height: 20px;
}

.fa-twitter{
    margin-top: 20px;
    height: 0;
    width: 0;
}
.fa-instagram{
    height: 0;
    width: 0;
    margin-left: 40px;
}

.fa-facebook{
    height: 0;
    width: 0;
    margin-left: 80px;
}
.fa-youtube{
    height: 0;
    width: 0;
    margin-left: 120px;
}



.seagreen{
    /* background-color: lightseagreen; */
    flex-basis: 13%;
    /* border: 2px dotted black; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

#h3-seagreen{
    text-align: start;
    margin-top: 30%;
    color: #6d8cd5;
}

.list-1{
    margin-top: 10px;
    list-style-type:none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    color: white;
    
}









/*  PARTE 2 Footer */

.container-logo-bottone{
    display: flex;
    flex-direction: row;
    background-color: rgba(35,39,42,255);
    justify-content: center;
    
    /* justify-content: center; */
    
    
}
.item-logo-bottone{
    /* background-color:aqua; */
    flex-basis: 70%;
    width: 70%;
    margin-top: 3%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90%;
    
}   

.logo-due{
    padding: 2px;
    width: 0;
    margin-top: 25px;
    /* border: 2px dotted black; */
    height: 30px;

}

.bottone-due{
    /* padding: 2px; */
    /* background-color: salmon; */
    margin-top: 25px;
    /* border: 2px dotted black; */
    width: 10%;
    height: 30px;
    text-align: end;
    
}

#registrati{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 9999px;
    border-style: none;
    border-color:white;
    cursor: pointer;
    background-color: #8ca4e2;
    color: whitesmoke;
    
}




